.vscode
.venv
__pycache__/
/data/
/app/model/results/
*.pkl
/data-pull/test_data/*/*.parquet
*.DS_Store
/app/logs/*.jsonl
/mlruns/
/logs/
dvc_remote_setup.md
.dvc/config
archive/data_store/
archive/model_store/
hourly_data/
